{% extends 'base.html' %}
<body>
{% block body %}
<div class="f1">
    <br>
    <br>
<div class="container a">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/filmes/Brilho-eterno-de-uma-mente-sem-lembranças_.jpg" class="cafilme">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="sombra">Brilho Eterno de uma Mente sem Lembranças</h5>
                                <p class="sombra">2004 No cinema | 1h 48min | Comédia, Drama, Ficção Científica</p>
                                <p class="sombra">Direção: Michel Gondry | Roteiro Charlie Kaufman, Michel Gondry</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 central">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <div class="row central">
            <p class="fontefilme">Obra de Arte</p>
        </div>
        <div class="row">
            <h1 class="fonte10">Sinopse</h1>
            <p class="fontefilme1">Joel (Jim Carrey) e Clementine (Kate Winslet) formavam um casal que durante anos tentaram fazer com que o relacionamento desse certo. Desiludida com o fracasso, Clementine decide esquecer Joel para sempre e, para tanto, aceita se submeter a um tratamento experimental, que retira de sua memória os momentos vividos com ele. Após saber de sua atitude Joel entra em depressão, frustrado por ainda estar apaixonado por alguém que quer esquecê-lo. Decidido a superar a questão, Joel também se submete ao tratamento experimental. Porém ele acaba desistindo de tentar esquecê-la e começa a encaixar Clementine em momentos de sua memória os quais ela não participa.</p>
        </div>
        <br>
        <br>
        <h5 style="text-align:center" class="fonte10">Trailer</h5>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <video  width="100%" height="100%" controls="controls">
                    <source src="static/trailers/Eternal Sunshine of the Spotless Mind Trailer - www.youtube.com_(www.KeepVid.to).mp4" type="video/mp4">
                    <object data="" width="320" height="240">
                    <embed width="640" height="300" src="static/trailers/Trailer - Gritos e Sussurros - em breve-720p-(www.KeepVid.to).mp4">
                    </object>
                </video>
            </div>
        </div>
        <br>
        <div class="row">
            <h1 class="fonte10">Crítica</h1>
            <p class="fontefilme1">Esse filme me DESTRUIU.

De alguma forma, isso me lembrou de uma citação de Call Me by Your Name:

"Se houver dor, cuide dela. E se houver uma chama, não a apague. Não seja brutal com ela. Nós arrancamos tanto de nós mesmos para nos curarmos das coisas mais rapidamente, que vamos à falência por trinta anos e temos menos a oferecer cada vez que começamos com alguém novo."

A verdade é: damos muito valor aos resultados. Imaginamos que se um relacionamento terminasse em desgosto, então tudo seria inútil. Tendemos a esquecer de ser gratos pelos momentos profundos, intangíveis e sagrados que compartilhamos com nossos parceiros. E esses momentos, bons ou ruins, não têm preço.

Valorize toda a jornada.</p>
        </div>
    </div>
    <br>
    <br>
    <h1 class="fonte10">Diretor</h1>
    <br>
    <div class="row">
            <div class="col-4">
                <img class="diretor" src="static/diretores/Michel.jpg">
            </div>
            <div class="col-7">
                <br>
                <p class="fontedirecao">{Michel Gondry}</p>
                <br>
                <p class="fontedirecao1">Michel Gondry nasceu o 8 de maio de 1963 na França. É diretor e produtor, conhecido pelo seu trabalho em Brilho Eterno de uma Mente sem Lembranças (2004), Sonhando Acordado (2006) e Rebobine, por Favor (2008). Em 2006 dirigiu "La Science des Rêves" ou "The Science of Sleep" ("Sonhando Acordado", no Brasil), com roteiro seu. O personagem principal, Stéphane (interpretado por Gael Garcia Bernal) traz diversos elementos autobiográficos.</p>
            </div>
    </div>
    <br>
</div>
    <br>
    <br>
</div>
{% endblock %}
</body>