{% extends 'base.html' %}
<body>
{% block body %}
    <div class="f1">
        <br>
        <br>
    <div class="container a">
        <br>
        <div class="row">
            <div class="col-3">
                <img class="diretor" src="static/diretores/bergman.jpg">
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <br>
                <br>
                <p class="fontedirecao">{Ingmar Bergmar}</p>
                <br>
                <br>
                <p class="fontedirecao1">Ernst Ingmar Bergman foi um diretor, escritor e produtor sueco que trabalhou em cinema, televisão, teatro e rádio. Considerado um dos cineastas mais talentosos e influentes de todos os tempos.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img class="diretor" src="static/diretores/lumet.jpg">
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <br>
                <br>
                <p class="fontedirecao">{Sidney Lumet}</p>
                <br>
                <br>
                <p class="fontedirecao1">Lumet começou sua carreira como um diretor teatral off-Broadway, tornando-se posteriormente um diretor de televisão altamente eficiente. Desde então, Lumet dividiu suas energias entre outros filmes idealísticos, juntamente com adaptações de peças e romances e comédias de humor negro filmadas em Nova York.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img class="diretor" src="static/diretores/Andre.jpg">
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <br>
                <br>
                <p class="fontedirecao">{André Klotzel}</p>
                <br>
                <br>
                <p class="fontedirecao1">André Klotzel é um diretor, roteirista, produtor e editor cinematográfico brasileiro. Estudou cinema na Universidade de São Paulo e trabalhou em mais de uma dezena de longas e muitos curta-metragens antes de dirigir seu primeiro filme, A Marvada Carne. Em 1983, fundou com alguns colegas a produtora Superfilmes, da qual foi sócio até 2001. Hoje tem a produtora Brás Filmes.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img class="diretor" src="static/diretores/Ari.jpg">
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <br>
                <br>
                <p class="fontedirecao">{Ari Aster}</p>
                <br>
                <br>
                <p class="fontedirecao1">Ari Aster é um cineasta americano. Tendo obtido algum reconhecimento inicial pelo curta-metragem The Strange Thing About the Johnsons (2011), ele se tornou mais conhecido por escrever e dirigir Hereditário (2018), Midsommar (2019)... todos lançados pela A24. Seus filmes são conhecidos por sua perturbadora combinação de terror, comédia de humor negro e representações de violência gráfica. Em 2018, cofundou a produtora Square Peg com o produtor dinamarquês Lars Knudsen.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img class="diretor" src="static/diretores/Quen.jpg">
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <br>
                <br>
                <p class="fontedirecao">{Quentin Tarantino}</p>
                <br>
                <br>
                <p class="fontedirecao1">Quentin Jerome Tarantino é um realizador, roteirista, produtor, ator, diretor de fotografia e crítico de cinema americano. É vencedor de dois Oscars de Melhor Roteiro Original. É vencedor de dois Oscars de Melhor Roteiro Original. Todavia, as obras de Tarantino também são controversas, como suas cenas de violência, sua inclusão frequente de insultos raciais e sua negligência no manuseio de cenas com dublês em Kill Bill: Volume 2</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img class="diretor" src="static/diretores/Michel.jpg">
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <br>
                <br>
                <p class="fontedirecao">{Michel Gondry}</p>
                <br>
                <br>
                <p class="fontedirecao1">Michel Gondry nasceu o 8 de maio de 1963 na França. É diretor e produtor, conhecido pelo seu trabalho em Brilho Eterno de uma Mente sem Lembranças (2004), Sonhando Acordado (2006) e Rebobine, por Favor (2008). Em 2006 dirigiu "La Science des Rêves" ou "The Science of Sleep" ("Sonhando Acordado", no Brasil), com roteiro seu. O personagem principal, Stéphane (interpretado por Gael Garcia Bernal) traz diversos elementos autobiográficos.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img class="diretor" src="static/diretores/Alfredo.jpg">
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <br>
                <br>
                <p class="fontedirecao">{Alfred Hitchcock}</p>
                <br>
                <br>
                <p class="fontedirecao1">Sir Alfred Joseph Hitchcock KBE foi um diretor e produtor cinematográfico britânico. Amplamente considerado um dos mais reverenciados e influentes cineastas de todos os tempos, Hitchcock foi eleito pelo The Telegraph o maior diretor da história da Grã-Bretanha e, pela Entertainment Weekly, o maior do cinema mundial. Conhecido como "o Mestre do Suspense", dirigiu 53 longas-metragens ao longo de seis décadas de carreira. Tornou-se também famoso por conta de diversas entrevistas, das frequentes aparições em seus filmes (cameo) e da apresentação do programa Alfred Hitchcock Presents (1955-1965).</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img class="diretor" src="static/diretores/Tod.jpg">
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <br>
                <br>
                <p class="fontedirecao">{Tod Browning}</p>
                <br>
                <br>
                <p class="fontedirecao1">Tod Browningfoi um diretor de cinema, ator de cinema, roteirista, artista de vaudeville e artista de carnaval e artista de circo americano. Ele dirigiu vários filmes de vários gêneros entre 1915 [a] e 1939, mas era conhecido principalmente por filmes de terror. Browning era frequentemente citado na imprensa especializada como "o Edgar Allan Poe do cinema". A carreira de Browning abrangeu as eras do cinema mudo e sonoro . Ele é conhecido como o diretor de Drácula (1931), Freaks (1932), e suas colaborações no cinema mudo com Lon Chaney e Priscilla Dean .</p>
            </div>
        </div>
        <br>
    </div>
        <br>
        <br>
    </div>
{% endblock %}
</body>
