{% extends 'base.html' %}
<body>
{% block body %}
    <div class="f1">
        <br>
        <br>

    <div class="container a">
    <br>
        <div class="row" >
                <div class="col-12">
                    <h1 style="color: #323437" class="fonte">Ranking</h1>
                </div>
            </div>
        <div class="row">
            <div class="col-2 carta">
                <div class="card semborda mb-5">
                     <div class="card-body">
                        <h5 class="card-title fontenumeral" >1°</h5>
                        <p class="card-text"></p>
                    </div>
                    <img src="static/morangos.jpg" class="card-img-top capa1">
                </div>
                <div style="text-align:center">
                    <a href="/morangos"><button type="button" class="btn ta btn-outline-dark">
                        <h1 class="fonte12">{Mais do filme}</h1>
                    </button></a>
                </div>
            </div>
            <div class="col-2 carta">
                <div class="card semborda mb-5">
                     <div class="card-body">
                        <h5 class="card-title fontenumeral">2°</h5>
                        <p class="card-text"></p>
                    </div>
                    <img src="static/homens.jpg" class="card-img-top capa1">
                </div>
                <div style="text-align:center">
                    <a href="/homens"><button type="button" class="btn ta btn-outline-dark">
                        <h1 class="fonte12">{Mais do filme}</h1>
                    </button></a>
                </div>
            </div>
            <div class="col-2 carta">
                <div class="card semborda mb-5" >
                     <div class="card-body">
                        <h5 class="card-title fontenumeral">3°</h5>
                        <p class="card-text"></p>
                    </div>
                    <img src="static/gritos.jpg" class="card-img-top capa1">
                </div>
                <div style="text-align:center">
                    <a href="/gritos"><button type="button" class="btn ta btn-outline-dark">
                        <h1 class="fonte12">{Mais do filme}</h1>
                    </button></a>
                </div>
            </div>
            <div class="col-2 carta">
                <div class="card semborda mb-5">
                     <div class="card-body">
                        <h5 class="card-title fontenumeral">4°</h5>
                        <p class="card-text"></p>
                    </div>
                    <img src="static/persona.jpg" class="card-img-top capa1">
                </div>
                <div style="text-align:center">
                    <a href="/persona"><button type="button" class="btn ta btn-outline-dark">
                        <h1 class="fonte12">{Mais do filme}</h1>
                    </button></a>
                </div>
            </div>
            <div class="col-2 carta">
                <div class="card semborda mb-5" >
                     <div class="card-body">
                        <h5 class="card-title fontenumeral">5°</h5>
                        <p class="card-text"></p>
                    </div>
                    <img src="static/reflexao.jpg" class="card-img-top capa1">
                </div>
                <div style="text-align:center">
                    <a href="/liquidificador"><button type="button" class="btn ta btn-outline-dark">
                        <h1 class="fonte12">{Mais do filme}</h1>
                    </button></a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2 carta" >
                <div class="card semborda mb-5" >
                     <div class="card-body">
                        <h5 class="card-title fontenumeral">6°</h5>
                        <p class="card-text"></p>
                    </div>
                    <img src="static/Pulp.jpg" class="card-img-top capa1">
                </div>
                <div style="text-align:center">
                    <a href="/pulp"><button type="button" class="btn ta btn-outline-dark">
                        <h1 class="fonte12">{Mais do filme}</h1>
                    </button></a>
                </div>
            </div>
            <div class="col-2 carta">
                <div class="card semborda mb-5" >
                     <div class="card-body">
                        <h5 class="card-title fontenumeral">7°</h5>
                        <p class="card-text"></p>
                    </div>
                    <img src="static/Midsommar.png" class="card-img-top capa1">
                </div>
                <div style="text-align:center">
                    <a href="/midsommar"><button type="button" class="btn ta btn-outline-dark">
                        <h1 class="fonte12">{Mais do filme}</h1>
                    </button></a>
                </div>
            </div>
            <div class="col-2 carta">
                <div class="card semborda mb-5">
                     <div class="card-body">
                        <h5 class="card-title fontenumeral">8°</h5>
                        <p class="card-text"></p>
                    </div>
                    <img src="static/brilho.jpg" class="card-img-top capa1">
                </div>
                <div style="text-align:center">
                    <a href="/brilho"><button type="button" class="btn ta btn-outline-dark">
                        <h1 class="fonte12">{Mais do filme}</h1>
                    </button></a>
                </div>
            </div>
            <div class="col-2 carta" >
                <div class="card semborda mb-5" >
                     <div class="card-body">
                        <h5 class="card-title fontenumeral">9°</h5>
                        <p class="card-text"></p>
                    </div>
                    <img src="static/passaros.jpg" class="card-img-top capa1">
                </div>
                <div style="text-align:center">
                    <a href="/passaro"><button type="button" class="btn ta btn-outline-dark">
                        <h1 class="fonte12">{Mais do filme}</h1>
                    </button></a>
                </div>
            </div>
            <div class="col-2 carta" >
                <div class="card semborda mb-5" style="">
                     <div class="card-body">
                        <h5 class="card-title fontenumeral">10°</h5>
                        <p class="card-text"></p>
                    </div>
                    <img src="static/dracula.jpg" class="card-img-top capa1">
                </div>
                <div style="text-align:center">
                    <a href="/dracula"><button type="button" class="btn ta btn-outline-dark">
                        <h1 class="fonte12">{Mais do filme}</h1>
                    </button></a>
                </div>
            </div>
        </div>
<br>
    </div>
        <br>
        <br>
    </div>
{% endblock %}
</body>
