{% extends 'base.html' %}
<body>
{% block body %}
<div class="f1">
    <br>
    <br>
<div class="container a">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/filmes/gritos-e-sussurros-plano-critico.jpg" class="cafilme">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="sombra">Gritos e Sussuros</h5>
                                <p class="sombra">1972 | 1h 30min | Drama</p>
                                <p class="sombra">Direção: Ingmar Bergman | Roteiro Ingmar Bergman</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 central">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
        </div>
        <div class="row central">
            <p class="fontefilme">Obra de Arte</p>
        </div>
        <div class="row">
            <h1 class="fonte10">Sinopse</h1>
            <p class="fontefilme1">Em uma casa no campo uma mulher está bastante enferma e recebe cuidados de suas duas irmãs e de uma empregada da família, que precocemente perdeu sua filha e por isso extravaza seu amor de mãe dando o maior carinho possível para aquela moça tão debilitada. Dentro deste contexto lembranças, frustrações e imaginações em um misto de amor e ódio surgem no interior de cada pessoa.</p>
        </div>
        <br>
        <br>
        <h5 style="text-align:center" class="fonte10">Trailer</h5>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <video  width="100%" height="100%" controls="controls">
                    <source src="static/trailers/Trailer - Gritos e Sussurros - em breve-720p-(www.KeepVid.to).mp4" type="video/mp4">
                    <object data="" width="320" height="240">
                    <embed width="640" height="300" src="static/trailers/Trailer - Gritos e Sussurros - em breve-720p-(www.KeepVid.to).mp4">
                    </object>
                </video>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <h1 class="fonte10">Crítica</h1>
            <p class="fontefilme1">Vermelho é a cor das paredes refletidas contra a pele à luz das velas, que é a cor do sangue escorrendo pelas suas roupas, que é a cor do seu vestido enquanto você se inclina para frente com seu sorriso enigmático, que é a cor da sua raiva e do seu ódio, que é a cor da morte, que é a cor de uma pequena faísca entre as únicas duas pessoas que podem estender a mão e tocar.</p>
        </div>
    </div>
    <br>
    <br>
    <h1 class="fonte10">Diretor</h1>
    <br>
    <div class="row">
            <div class="col-4">
                <img class="diretor" src="static/diretores/bergman.jpg">
            </div>
            <div class="col-7">
                <br>
                <p class="fontedirecao">{Ingmar Bergmar}</p>
                <br>
                <p class="fontedirecao1">Ernst Ingmar Bergman foi um diretor, escritor e produtor sueco que trabalhou em cinema, televisão, teatro e rádio. Considerado um dos cineastas mais talentosos e influentes de todos os tempos.</p>
            </div>
    </div>
    <br>
</div>
    <br>
    <br>
</div>
{% endblock %}
</body>