{% extends 'base.html' %}
<body>
{% block body %}
<div class="f1">
    <br>
    <br>
<div class="container a">
    <br>
            <div class="row" >
                <div class="col-12">
                    <h1 style="color: #323437" class="fonte">{Filmes}</h1>
                </div>
            </div>
            <div class="card border-light mb-3 mt-3">
                <div class="row">
                    <div class="col-2 mt-3">
                        <img src="static/morangos.jpg" class="img-fluid capa rounded-start" alt="...">
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">Morangos Silvestrs (1957)</h5>
                            <p>Igman Bergman</p>
                            <p class="card-text">O rabugento médico aposentado Isak Borg viaja de Estocolmo para Lund, na Suécia, com sua nora grávida e infeliz, Marianne, para receber um diploma honorário da universidade onde estudou. Ao longo do caminho, eles cruzam com uma série de caroneiros...</p>
                            <a href="/morangos" ><p class="card-text"><small class="text-muted">Veja mais</small></p></a>
                        </div>
                    </div>
                    <div class="col-4 mt-1" style="text-align:right">
                        <img class="pix" src="static/pix2.jpeg" width="60%" height="90%" >
                    </div>
                </div>
                <div class="card border-light mb-3 mt-3" >
                    <div class="row">
                        <div class="col-2">
                            <img src="static/homens.jpg" class="img-fluid capa rounded-start">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">12 Homens e uma Sentença (1957)</h5>
                                <p>Sidney Lumet</p>
                                <p class="card-text">Seguindo o encerramento do caso do julgamento do assassinato cometido por um adolescente, os membros do júri devem chegar a um consenso sobre qual será o veredito. Enquanto os 12 indivíduos estão fechados em uma sala para tomar uma decisão, onze deles votam pela condenação do réu, porém...</p>
                                <a href="/homens" ><p class="card-text"><small class="text-muted">Veja mais</small></p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-light mb-3 mt-3 md-5" >
                    <div class="row">
                        <div class="col-2">
                            <img src="static/reflexao.jpg" class="img-fluid capa rounded-start" alt="">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Reflexões de um Liquidificador (2010)</h5>
                                <p>André Klotzel</p>
                                <p class="card-text">Elvira é uma dona de casa que passa por um momento difícil em sua vida. Seu marido Onofre desapareceu e ela decide ir à polícia prestar queixa. A trajetória do casal é narrada pelo liquidificador do casal, que ganhou vida depois de um conserto...</p>
                                <a href="/liquidificador" ><p class="card-text"><small class="text-muted">Veja mais</small></p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-light mb-3 mt-3" >
                    <div class="row">
                        <div class="col-2">
                            <img src="static/gritos.jpg" class="img-fluid capa rounded-start" alt="...">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Gritos e Sussurros (1972)</h5>
                                <p>Igman Bergman</p>
                                <p class="card-text">Agnes lentamente morre de câncer, mas suas irmãs estão tão profundamente imersas em suas próprias dores psíquicas que não podem oferecer-lhe o apoio de que ela precisa. Maria está devastada com a culpa do suicídio do marido, causada pela descoberta de seu caso extraconjugal...</p>
                                <a href="/gritos" ><p class="card-text"><small class="text-muted">Veja mais</small></p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-light mb-3 mt-3" >
                    <div class="row">
                        <div class="col-2">
                            <img src="static/Midsommar.png" class="img-fluid capa rounded-start" alt="...">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Midsommar (2019)</h5>
                                <p>Ari Aster</p>
                                <p class="card-text">Após vivenciar uma tragédia pessoal, Dani vai com o namorado Christian e um grupo de amigos até a Suécia para participar de um festival local de verão. Mas, ao invés das férias tranquilas com a qual todos sonhavam, o grupo se depara com rituais bizarros de uma adoração pagã.</p>
                                <a href="/midsommar" ><p class="card-text"><small class="text-muted">Veja mais</small></p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-light mb-3 mt-3" >
                    <div class="row">
                        <div class="col-2">
                            <img src="static/persona.jpg" class="img-fluid capa rounded-start" alt="...">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Persona (1966)</h5>
                                <p>Igman Bergman</p>
                                <p class="card-text">O drama lançado em 1966 mostra a história de Elisabeth Vogler, atriz que, após surtar em uma apresentação, fica muda. Apesar do enredo relativamente simples, Beltrame-Linné acredita que se trata da obra mais enigmática de Bergman pela sua “fluidez de tempo absoluta, em que realidade e sonho se misturam o tempo todo”.</p>
                                <a href="/persona" ><p class="card-text"><small class="text-muted">Veja mais</small></p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-light mb-3 mt-3" >
                    <div class="row">
                        <div class="col-2">
                            <img src="static/pulp.jpg" class="img-fluid capa rounded-start" alt="...">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Pulp Fiction (1994)</h5>
                                <p>Quentin Tarantino</p>
                                <p class="card-text">Vincent Vega (John Travolta) e Jules Winnfield (Samuel L. Jackson) são dois assassinos profissionais trabalham fazendo cobranças para Marsellus Wallace (Ving Rhames), um poderosos gângster. Vega é forçado a sair com a garota do chefe, temendo passar dos limites; enquanto isso, o pugilista Butch Coolidge (Bruce Willis) se mete em apuros por ganhar luta que deveria perder.</p>
                                <a href="/pulp" ><p class="card-text"><small class="text-muted">Veja mais</small></p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-light mb-3 mt-3" >
                    <div class="row">
                        <div class="col-2">
                            <img src="static/brilho.jpg" class="img-fluid capa rounded-start" alt="...">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Brilho Eterno de uma Mente sem Lembranças (2004)</h5>
                                <p>Michel Gondry</p>
                                <p class="card-text">Joel (Jim Carrey) e Clementine (Kate Winslet) formavam um casal que durante anos tentaram fazer com que o relacionamento desse certo. Desiludida com o fracasso, Clementine decide esquecer Joel para sempre e, para tanto, aceita se submeter a um tratamento experimental, que retira de sua memória os momentos vividos com ele.</p>
                                <a href="/brilho" ><p class="card-text"><small class="text-muted">Veja mais</small></p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-light mb-3 mt-3" >
                    <div class="row">
                        <div class="col-2">
                            <img src="static/passaros.jpg" class="img-fluid capa rounded-start" alt="...">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Os Pássaros (1963)</h5>
                                <p>Alfred Hitchcock</p>
                                <p class="card-text">Melanie Daniels (Tippi Hedren) é uma bela e rica socialite que sempre vai atrás do que quer. Um dia ela conhece o advogado Mitch Brenner (Rod Taylor) em um pet shop e fica interessada nele. Após o encontro ela decide procurá-lo em sua cidade. Entretanto, Melaine só não sabia que iria vivenciar algo assustador: milhares de pássaros se instalaram na localidade e começam a atacar as pessoas.</p>
                                <a href="/passaro" ><p class="card-text"><small class="text-muted">Veja mais</small></p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-light mb-3 mt-3" >
                    <div class="row ">
                        <div class="col-2">
                            <img src="static/dracula.jpg" class="img-fluid capa rounded-start" alt="...">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Drácula (1931)</h5>
                                <p>Tod Browning, Karl Freund</p>
                                <p class="card-text">Drácula (Bela Lugosi) é um conde vindo dos Cárpatos que aterroriza Londres por carregar uma maldição que o obriga a beber sangue humano para sobreviver. Após transformar uma jovem em vampira ele concentra suas atenções em uma amiga dela, mas o pai da próxima vítima se chama Van Helsing (Edward Van Sloan), um cientista holandês especialista em vampiros que pode acabar com seu reinado de terror.</p>
                                <a href="/dracula" ><p class="card-text"><small class="text-muted">Veja mais</small></p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mb-5" style="text-align:center">
                <a href="/filmes"><button type="button" class="btn btn-outline-dark">
                <h1 class="fonte1">{Filmes}</h1>
                </button></a>
            </div>
</div>
<br>
    <br>
</div>
{% endblock %}
</body>
