{% extends 'base.html' %}
<body>
{% block body %}
<div class="f1">
    <br>
    <br>
<div class="container a">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/filmes/DOZE-HOMENS-E-UMA-SENTENCA-960x540.jpg" class="cafilme">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="sombra">12 Homens e uma sentença</h5>
                                <p class="sombra">1957 em Telecine | 1h 35min | Drama, Crime</p>
                                <p class="sombra">Direção: Sidney Lumet | Roteiro Reginald Rose</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 central">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
        </div>
        <div class="row central">
            <p class="fontefilme">Obra-Prima</p>
        </div>
        <br>
        <div class="row">
            <h1 class="fonte10">Sinopse</h1>
            <p class="fontefilme1">Doze homens formam o júri que irá decidir se um jovem será condenado ou não à pena de morte pelo assassinato do pai. A decisão deve ser unânime para a condenação ou absolvição. Temos em cena doze personagens completamente diferentes, com suas particularidades e personalidades, mas que são tratados apenas peças do jogo da justiça após entrarem no imponente tribunal. Seus nomes são substituídos por números, do Jurado 1 ao Jurado 12.</p>
        </div>
        <br>
        <br>
        <h5 style="text-align:center" class="fonte10">Trailer</h5>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <video  width="100%" height="100%" controls="controls">
                    <source src="static/trailers/12 ANGRY MEN (1957)  Official Trailer  MGM - www.youtube.com_(www.KeepVid.to).mp4" type="video/mp4">
                    <object data="" width="320" height="240">
                    <embed width="640" height="350" src="static/trailers/Morangos Silvestres, de Ingmar Bergman - Teaser-360p-(www.KeepVid.to).mp4">
                    </object>
                </video>
            </div>
        </div>
        <br>
        <div class="row">
            <h1 class="fonte10">Crítica</h1>
            <p class="fontefilme1">Eu não tinha muita certeza do que esperar ao entrar. Sempre digo que gosto de cinema, que gosto de cinema e gosto e gosto. No entanto, sinto vergonha de dizer que antes dos anos 1970 eu realmente não vi nada importante. Então, eu não tinha certeza de como um filme de tanto tempo atrás teria envelhecido e como eu me sentiria a respeito. 12 Angry Men é tão bom quanto todo mundo diz que é. Eu estava totalmente investido no veredicto do julgamento das crianças e isso é algo difícil de conseguir. Como o filme se passa em uma sala, a escrita e a atuação precisam ser de primeira qualidade e realmente são. A cena mais poderosa do filme pode ser quando o Jurado 10 explica seu preconceito contra o acusado e, um por um, o restante dos homens se levanta e vai embora. Droga, é uma boa cena.</p>
        </div>
    </div>
    <br>
    <br>
    <h1 class="fonte10">Diretor</h1>
    <br>
    <div class="row">
            <div class="col-4">
                <img class="diretor" src="static/diretores/lumet.jpg">
            </div>
            <div class="col-8">
                <br>
                <p class="fontedirecao">{Sidney Lumet}</p>
                <br>
                <p class="fontedirecao1">Lumet começou sua carreira como um diretor teatral off-Broadway, tornando-se posteriormente um diretor de televisão altamente eficiente. Desde então, Lumet dividiu suas energias entre outros filmes idealísticos, juntamente com adaptações de peças e romances e comédias de humor negro filmadas em Nova York.</p>
            </div>
    </div>
    <br>
</div>
    <br>
    <br>
</div>
{% endblock %}
</body>