{% extends 'base.html' %}
<body>
{% block body %}
<div class="f1">
    <br>
    <br>
<div class="container a">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/filmes/liquitificador.jpg" class="cafilme">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="sombra">Reflexões de um Liquidificador</h5>
                                <p class="sombra"> 2010 No cinema | 1h 20min | Comédia, Fantasia</p>
                                <p class="sombra">Direção: André Klotzel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 central">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
        </div>
        <div class="row central">
            <p class="fontefilme">Obra de Arte</p>
        </div>
        <div class="row">
            <h1 class="fonte10">Sinopse</h1>
            <p class="fontefilme1">Em Reflexões de um Liquidificador, Elvira (Ana Lúcia Torre) é uma dona de casa que passa por um momento agitado em sua vida. Onofre (Germano Haiut), seu marido, desapareceu há alguns dias e ela resolve ir à polícia dar queixa do sumiço. A trajetória do casal é narrada pelo liquidificador (Selton Mello) de Elvira, que ganhou vida quando, tempos atrás, Onofre trocou sua hélice por outra bem maior.</p>
        </div>
        <br>
        <br>
        <h5 style="text-align:center" class="fonte10">Trailer</h5>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <video  width="100%" height="100%" controls="controls">
                    <source src="static/trailers/liquitificador.mp4" type="video/mp4">
                    <object data="" width="320" height="240">
                    <embed width="640" height="300" src="static/trailers/Morangos Silvestres, de Ingmar Bergman - Teaser-360p-(www.KeepVid.to).mp4">
                    </object>
                </video>
            </div>
        </div>
        <br>
        <div class="row">
            <h1 class="fonte10">Crítica</h1>
            <p class="fontefilme1">Uma das obras mais interessantes do cinema brasileiro! a trama, a direção, os cenários entre outras coisas que compõem esse magnífico filme são tão simples mas com um significado e uma qualidade enorme. O grande turbilhão de emoções que o roteiro e a direção nos causa é gigantesco, os dialogos nos fazem ter os mais remotos e tocantes sentimentos sem contar a forma com que a cinematográfia funciona aqui é simplesmente deslumbrante. Ana Lúcia Torre serve para nós telespectadores uma personagem tão doce e tão profunda com diversas camadas a serem desvendadas ao longo do filme, selton mello entrega um ótimo trabalho de voz e ótimos questionamentos ao decorrer da história, a dinâmica entre os dois é espetacular. se tornou uma dos meus filmes favoritos dentro do cinema nacional</p>
        </div>
    </div>
    <br>
    <br>
    <h1 class="fonte10">Diretor</h1>
    <br>
    <div class="row">
            <div class="col-4">
                <img class="diretor" src="static/diretores/Andre.jpg">
            </div>
            <div class="col-8">
                <br>
                <p class="fontedirecao">{André Klotzel}</p>
                <br>
                <p class="fontedirecao1">André Klotzel é um diretor, roteirista, produtor e editor cinematográfico brasileiro. Estudou cinema na Universidade de São Paulo e trabalhou em mais de uma dezena de longas e muitos curta-metragens antes de dirigir seu primeiro filme, A Marvada Carne. Em 1983, fundou com alguns colegas a produtora Superfilmes, da qual foi sócio até 2001. Hoje tem a produtora Brás Filmes.</p>
            </div>
    </div>
    <br>
</div>
    <br>
    <br>
</div>
{% endblock %}
</body>