{% extends 'base.html' %}
<body>
{% block body %}
<div class="f1">
    <br>
    <br>
<div class="container a">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/filmes/Midsommar-como-e-o-festival-sueco-da-vida-real.png" class="cafilme">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="sombra">Midsommar</h5>
                                <p class="sombra">2019 No cinema | 2h 27min | Terror</p>
                                <p class="sombra">Direção: Ari Aster | Roteiro Ari Aster</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 central">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <div class="row central">
            <p class="fontefilme">Obra de Arte</p>
        </div>
        <div class="row">
            <h1 class="fonte10">Sinopse</h1>
            <p class="fontefilme1">Após vivenciar uma tragédia pessoal, Dani (Florence Pugh) vai com o namorado Christian (Jack Reynor) e um grupo de amigos até a Suécia para participar de um festival local de verão. Mas, ao invés das férias tranquilas com a qual todos sonhavam, o grupo vai se deparar com rituais bizarros de uma adoração pagã. Os momentos iniciais de Midsommar possuem atmosfera semelhante à de Hereditário, filme anterior do diretor Ari Aster que provocou fortes emoções até mesmo para quem já está familiarizado com o terror.</p>
        </div>
        <br>
        <br>
        <h5 style="text-align:center" class="fonte10">Trailer</h5>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <video  width="100%" height="100%" controls="controls">
                    <source src="static/trailers/Midisommar.mp4" type="video/mp4">
                    <object data="" width="320" height="240">
                    <embed width="640" height="300" src="static/trailers/Trailer - Gritos e Sussurros - em breve-720p-(www.KeepVid.to).mp4">
                    </object>
                </video>
            </div>
            <br>
            <div class="row">
                <h1 class="fonte10">Crítica</h1>
                <p class="fontefilme1">Minha parte favorita é o salto do penhasco. E a minha parte favorita sobre o salto do penhasco é o velho estragando tudo. Por que ele pensou que poderia simplesmente cair assim e morrer? Quero dizer, o que ele estava pensando? A esposa dele acertou em cheio e ele vai e estraga tudo. Que vergonha. Isso faz você se perguntar se isso era típico dele. Nunca descobrimos muito sobre os dois, mas você sabe que era típico dele ser uma vergonha assim. Você só sabe que ela teve que aguentar décadas com ele cometendo todos esses erros, como subir no loft e enfiar o pé no teto ou esquecer de trazer os passaportes quando estavam prestes a embarcar. Aposto que ele esqueceu de trazer os passaportes do voo para o festival. Aposto que ela disse a ele que sabia que ele iria estragar tudo e esquecer, como se ele estragasse tudo. E aposto que ela disse a ele que ele provavelmente também estragaria o salto do penhasco. E ele fez.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h1 class="fonte10">Diretor</h1>
    <br>
    <div class="row">
            <div class="col-4">
                <img class="diretor" src="static/diretores/Ari.jpg">
            </div>
            <div class="col-7">
                <br>
                <p class="fontedirecao">{Ari Aster}</p>
                <p class="fontedirecao1">Ari Aster é um cineasta americano. Tendo obtido algum reconhecimento inicial pelo curta-metragem The Strange Thing About the Johnsons (2011), ele se tornou mais conhecido por escrever e dirigir Hereditário (2018), Midsommar (2019)... todos lançados pela A24. Seus filmes são conhecidos por sua perturbadora combinação de terror, comédia de humor negro e representações de violência gráfica. Em 2018, cofundou a produtora Square Peg com o produtor dinamarquês Lars Knudsen.</p>

            </div>
    </div>
    <br>
</div>
    <br>
    <br>
</div>
{% endblock %}
</body>