{% extends 'base.html' %}
<body>
{% block body %}
<div class="f1">
    <br>
    <br>
<div class="container a">
    <div class="container-fluid mt-2">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/filmes/morangos-silvestres.jpg" class="cafilme">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="sombra">Morangos Silvestres</h5>
                            <p class="sombra">1957 No cinema | 1h 31min | Drama</p>
                            <p class="sombra">Direção: Ingmar Bergman | Roteiro Ingmar Bergman</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <br>
            <p class="fontefilme1" style="text-align:center">Elenco: Victor Sjöstrom, Bibi Andersson, Ingrid Thulin</p>
            <p class="fontefilme1" style="text-align:center">Título original Smultronstället</p>
        </div>
        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 central">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
        </div>
        <div class="row central">
            <p class="fontefilme">Obra-Prima</p>
        </div>
        <br>
        <div class="row">
            <h1 class="fonte10">Sinopse</h1>
            <p class="fontefilme1">Isak Borg (Victor Sjöström) é um professor de medicina que revisita vários momentos marcantes de seu passado durante uma viagem de carro até sua antiga universidade, onde ele irá receber uma honraria. Acompanhado de sua nora Marianne (Ingrid Thulin) ele evoca memória de sua família e de sua ex-namorada. Durante a viagem ele conhece uma garota adolescente que em muito se assemelha a Sara, seu antigo amor. A jovem pega carona com o professor e Marianne. Quanto mais Borg recorda as decepções e desilusões que viveu, mais ele se sente frio e cheio de culpa. Esses sentimentos se afloram quando ele encontra seu filho, igualmente frio e ressentido.</p>
        </div>
        <br>
        <br>
        <h5 style="text-align:center" class="fonte10">Trailer</h5>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <video  width="100%" height="100%" controls="controls">
                    <source src="static/trailers/Morangos Silvestres, de Ingmar Bergman - Teaser-360p-(www.KeepVid.to).mp4" type="video/mp4">
                    <object data="">
                    <embed width="640" height="480" src="static/trailers/Morangos Silvestres, de Ingmar Bergman - Teaser-360p-(www.KeepVid.to).mp4">
                    </object>
                </video>
            </div>
        </div>
        <br>
        <div class="row">
            <h1 class="fonte10">Crítica</h1>
            <p class="fontefilme1">Eu finalmente encontrei. O filme que não posso resenhar. Qualquer tipo de pensamento coeso logo me reduz a uma bagunça chorosa. Tudo o que sinto é pura melancolia, e ela atinge as profundezas da minha alma, ao mesmo tempo que ilumina meu eu atual. Este é um filme lindo e a reflexão à respeito da existência pessoal e a trajetória que cada um escolhe percorrer.</p>
        </div>
    </div>
    <br>
    <br>
    <h1 class="fonte10">Diretor</h1>
    <br>
    <div class="row">
            <div class="col-4">
                <img class="diretor" src="static/diretores/bergman.jpg">
            </div>
            <div class="col-7">
                <br>
                <p class="fontedirecao">{Ingmar Bergmar}</p>
                <br>
                <p class="fontedirecao1">Ernst Ingmar Bergman foi um diretor, escritor e produtor sueco que trabalhou em cinema, televisão, teatro e rádio. Considerado um dos cineastas mais talentosos e influentes de todos os tempos.</p>
            </div>
    </div>
    <br>
</div>
    <br>
    <br>
</div>
{% endblock %}
</body>