{% extends 'base.html' %}
<body>
{% block body %}
<div class="f1">
    <br>
    <br>
<div class="container a">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/filmes/persona-bergman.jpg" class="cafilme">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="sombra">Persona</h5>
                                <p class="sombra">1966 | 1h 23min | Drama, Suspense</p>
                                <p class="sombra">Direção: Ingmar Bergman | Roteiro Ingmar Bergman</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 central">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <div class="row central">
            <p class="fontefilme">Obra de Arte</p>
        </div>
        <div class="row">
            <h1 class="fonte10">Sinopse</h1>
            <p class="fontefilme1">Após um desempenho na peça "Electra", uma famosa atriz, Elisabeth Vogler (LIv Ullmann), pára de falar. Sua psiquiatra, Lakaren (Margaretha Krook), a deixa sob os cuidados de Alma (Bibi Andersson), uma dedicada enfermeira. Como já fazem três meses que Elisabet não profere uma palavra, Lakaren decide que ela deva ser mandada para uma isolada casa de praia, com Alma. Na casa Alma fala pelas duas, pois Elisabet continua muda, comunicando-se apenas com pequenos gestos. Com o convívio Alma fica uma pouco enamorada pela atriz. Num dia conta para Elisabeth sobre uma excitante experiência sexual que teve numa praia, com desconhecidos, e a conseqüência desagradável disto. Pouco depois de fazer esta confidência ela lê uma carta que Elisabeth tinha escrito, onde fica chocada ao descobrir que a atriz pensa nela como um divertido objeto de estudo.</p>
        </div>
        <br>
        <br>
        <h5 style="text-align:center" class="fonte10">Trailer</h5>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <video  width="100%" height="100%" controls="controls">
                    <source src="static/trailers/Persona (1966) ORIGINAL TRAILER [HD 1080p] - www.youtube.com_(www.KeepVid.to).mp4">
                    <object data="" width="320" height="240">
                    <embed width="640" height="300" src="static/trailers/Trailer - Gritos e Sussurros - em breve-720p-(www.KeepVid.to).mp4">
                    </object>
                </video>
            </div>
        </div>
        <br>
            <div class="row">
                <h1 class="fonte10">Crítica</h1>
                <p class="fontefilme1">Bergman disse uma vez:

“Se eu não tivesse encontrado forças para fazer esse filme, provavelmente estaria acabado. Um ponto significativo: pela primeira vez não me importei nem um pouco se o resultado seria um sucesso comercial.”

O filme exigiu de mim a mesma força e atitude obstinada para assisti-lo de uma só vez. E me senti exausto e atordoado depois que terminou. Aludindo à segunda linha da citação de Bergman, gostaria também de pedir a quem ainda não viu este filme, que o assista sem ponderar se vai gostar ou não, amá-lo ou odiá-lo, pois é uma experiência e tanto que deve não perca.


PS, depois de terminar minha exibição, li como este filme influenciou tantos outros depois dele, como a obra-prima de Lynch, Mulholland Drive, 3 Mulheres de Altman e Melancolia de Lars Von Trier. Eu refleti e tive um sorriso irônico no rosto, enraizado na minha reminiscência de quão fodido esse filme realmente era por ter tido uma influência tão inconfundível nesses filmes. Novamente, isso é um elogio. É tão incrível.</p>
            </div>
    </div>
    <br>
    <br>
    <h1 class="fonte10">Diretor</h1>
    <br>
    <div class="row">
            <div class="col-4">
                <img class="diretor" src="static/diretores/bergman.jpg">
            </div>
            <div class="col-7">
                <br>
                <p class="fontedirecao">{Ingmar Bergmar}</p>
                <br>
                <p class="fontedirecao1">Ernst Ingmar Bergman foi um diretor, escritor e produtor sueco que trabalhou em cinema, televisão, teatro e rádio. Considerado um dos cineastas mais talentosos e influentes de todos os tempos.</p>
            </div>
    </div>
    <br>
</div>
    <br>
    <br>
</div>
{% endblock %}
</body>