{% extends 'base.html' %}
<body>
{% block body %}
<div class="f1">
    <br>
    <br>
<div class="container a">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/filmes/pulp.jpg" class="cafilme">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="sombra">Pulp Fiction</h5>
                                <p class="sombra">1995 No cinema | 2h 29min | Policial, Drama</p>
                                <p class="sombra">Direção: Quentin Tarantino |</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 central">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
        <div class="row central">
            <p class="fontefilme">Obra de Arte</p>
        </div>
        <br>
        <div class="row">
            <h1 class="fonte10">Sinopse</h1>
            <p class="fontefilme1">Vincent Vega (John Travolta) e Jules Winnfield (Samuel L. Jackson) são dois assassinos profissionais trabalham fazendo cobranças para Marsellus Wallace (Ving Rhames), um poderosos gângster. Vega é forçado a sair com a garota do chefe, temendo passar dos limites; enquanto isso, o pugilista Butch Coolidge (Bruce Willis) se mete em apuros por ganhar luta que deveria perder.</p>
        </div>
        <br>
        <br>
        <h5 style="text-align:center" class="fonte10">Trailer</h5>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <video  width="100%" height="100%" controls="controls">
                    <source src="static/trailers/Pulp Fiction  Official Trailer (HD) - John Travolta, Uma Thurman, Samuel L. Jackson  MIRAMAX - www.youtube.com_(www.KeepVid.to).mp4" type="video/mp4">
                    <object data="" width="320" height="240">
                    <embed width="640" height="300" src="static/trailers/Trailer - Gritos e Sussurros - em breve-720p-(www.KeepVid.to).mp4">
                    </object>
                </video>
            </div>
        </div>
        <br>
        <div class="row">
            <h1 class="fonte10">Crítica</h1>
            <p class="fontefilme1">Um filme cheio de lições de vida importantes sobre a ética da massagem nos pés, como esconder heranças inestimáveis ​​como prisioneiro de guerra, o que fazer se alguém na festa tiver uma overdose de heroína e as melhores práticas para limpar o cérebro do estofamento do carro. Ainda bem que vi esse filme jovem, então aprendi tudo cedo.</p>
        </div>
    </div>
    <br>
    <br>
    <h1 class="fonte10">Diretor</h1>
    <br>
    <div class="row">
            <div class="col-4">
                <img class="diretor" src="static/diretores/Quen.jpg">
            </div>
            <div class="col-7">
                <p class="fontedirecao">{Quentin Tarantino}</p>
                <br>
                <p class="fontedirecao1">Quentin Jerome Tarantino é um realizador, roteirista, produtor, ator, diretor de fotografia e crítico de cinema americano. É vencedor de dois Oscars de Melhor Roteiro Original. É vencedor de dois Oscars de Melhor Roteiro Original. Todavia, as obras de Tarantino também são controversas, como suas cenas de violência, sua inclusão frequente de insultos raciais e sua negligência no manuseio de cenas com dublês em Kill Bill: Volume 2</p>
            </div>
    </div>
    <br>
</div>
    <br>
    <br>
</div>
{% endblock %}
</body>