{% extends 'base.html' %}
<body>
{% block body %}
<div class="f1">
    <br>
    <br>
<div class="container a">
    <br>
    <div class="row" >
        <div class="col-12">
            <h1 style="color: #323437" class="fonte">{Sobre}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img class="diretor1" src="static/diretores/my1.jpeg">
        </div>
        <div class="col-8">
            <p class="fonte3">Iniciei este projeto com o objetivo de apresentar clássicos que impactaram a história do cinema, mas que ainda são pouco conhecidos atualmente. A exemplo de diretores como Ingmar Bergman, que simplesmente revolucionou o conceito abstrato no cinema.</p>
        </div>
    </div>
    <br>
    <div class="row">
        <p class="fonte2">Carazinho, Rio Grande do Sul, 99500-000</p>
        <p class="fonte2">(54) 9970-02785</p>
        <p class="fonte2">pedroaotabaldi@gmail.com</p>
    </div>
<br>
</div>
<br>
<br>
</div>
{% endblock %}
</body>
